<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Task</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='style.css')}}">
</head>
<body class="edit">
    <div>
        <h1>Edit Task</h1>
        <form action="/edit/{{todo.id}}" method="post">
            <div>
                <label>Todo task</label>
                <input type="text" name="task" value="{{todo.task}}">
                <button type="submit">Save Changes</button>
            </div>
        </form>
        <p><a href="/">Back to Home</a></p>
    </div>